div(class="footer-block")
	ul.menu-list.footer-menu.container
			li.menu-list__item 
				a(href="#") ПРО ПРОЕКТ
			li.menu-list__item 
				a(href="#") переваги
			li.menu-list__item 
				a(href="#") місцерозташування
			li.menu-list__item 
				a(href="#") ПЛАНУВАННЯ
			li.menu-list__item 
				a(href="#") інфраструктура
			li.menu-list__item 
				a(href="#") контакти
			li.menu-list__item.viber
				a(href="viber://add?number=#")
					img(src="./assets/images/contacts/viber.svg")
			li.menu-list__item.telegram
				a(href="tg://resolve?domain=#")
					img(src="./assets/images/contacts/telegram.svg")
	.footer__copy 
		p © 2008-2019 Polaris. Home&Plaza. Всі права захищені. 
		a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer__link Розробка сайту
			img(src='./assets/images/smarto.svg' alt="" title="")