
.menu-wrapper
	a(href="/" class="logo")
		img(src="./assets/images/logo1.svg" alt="" title="")
	ul.menu-list
			li.menu-list__item 
				a(href="#about") ПРО ПРОЕКТ
			li.menu-list__item 
				a(href="#advantages") переваги
			li.menu-list__item 
				a(href="#location") місцерозташування
			li.menu-list__item 
				a(href="#plans") ПЛАНУВАННЯ
			li.menu-list__item 
				a(href="#infrastructure") інфраструктура
			li.menu-list__item 
				a(href="#contacts") контакти
	.tel-block 
		a.tel-block__number(href="tel:0445556525") 044 255 65 25 
		span.tel-block__title.form-js Замовити дзвінок
	.lang-block
		div(class="lang-block__item") УКР
		div(class="lang-block__item inactive") РУС
		div(class="lang-block__item inactive") ENG
	.menu-button 
		img(src="./assets/images/common/mobile-menu-button.svg")


