
.menu-wrapper
	a(href="/" class="logo")
		img(src="./assets/images/logo1.svg" alt="" title="")
	ul.menu-list
			li.menu-list__item 
				a(href="#") ПРО ПРОЕКТ
			li.menu-list__item 
				a(href="#") переваги
			li.menu-list__item 
				a(href="#") місцерозташування
			li.menu-list__item 
				a(href="#") ПЛАНУВАННЯ
			li.menu-list__item 
				a(href="#") інфраструктура
			li.menu-list__item 
				a(href="#") контакти
	.tel-block 
		a.tel-block__number(href="tel:0445556525") 044 255 65 25 
		span.tel-block__title Замовити дзвінок
	.lang-block
		div(class="lang-block__item") УКР
		div(class="lang-block__item inactive") РУС
		div(class="lang-block__item inactive") АНГ
			


