.menu-container 
    .close
    .mob-menu-content
        .menu-title Меню
        ul.mob-menu-list
            li 
                a(href="#") ПРО ПРОЕКТ
            li 
                a(href="#") переваги
            li 
                a(href="#") ПЛАНУВАННЯ
            li 
                a(href="#") місцерозташування
            li 
                a(href="#") інфраструктура
            li 
                a(href="#") контакти
    .mob-menu-footer
        span(class="mob-address") м. Київ, вул. Вулиця, 45
        a(class="mob-tel" href="tel:0445556525") 044 555 65 25
        a(class="mob-mail" href="mailto:hi.polaris@gmail.com") hi.polaris@gmail.com
