.menu-container 
    .close
    .mob-menu-content
        .menu-title Меню
        ul.mob-menu-list
            li 
                a(href="#about") ПРО ПРОЕКТ
            li 
                a(href="#advantages") переваги
            li 
                a(href="#plans") ПЛАНУВАННЯ
            li 
                a(href="#location") місцерозташування
            li 
                a(href="#infrastructure") інфраструктура
            li 
                a(href="#contacts") контакти
    .mob-menu-footer
        span(class="mob-address") м. Київ, вул. Вулиця, 45
        a(class="mob-tel" href="tel:0445556525") 044 555 65 25
        a(class="mob-mail" href="mailto:hi.polaris@gmail.com") hi.polaris@gmail.com
