extends ../layout/main
block variable
block meta
	title= 'Home'
	meta(name='description', content='')
block head
	link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
	script(src='./assets/scripts/libs.js') 
	script(src='./assets/scripts/main.js') 
	script(src='./assets/scripts/callback-form.js') 
	script(src='./assets/scripts/simpleParalax.js') 
	script(src='./assets/scripts/slider.js')
	script(src='./assets/scripts/map.js')
	script(src='./assets/scripts/mob-menu.js')
	
block content		
	section(class="main-screen-container")
		.main-screen-slider#images
			.lighten
				img(src="./assets/images/main-screen/day-stars.png")
				img(src="./assets/images/main-screen/evening-bg.png")
				img(src="./assets/images/main-screen/stars1.png")
			.normal
				img(src="./assets/images/main-screen/day-bg.png")
				img(src="./assets/images/main-screen/evening.png")
				img(src="./assets/images/main-screen/home.png")
				
			p#loading
			<nav>
				<ul>
				<li class="pre"></li>
				<li class="next"></li>
				</ul>
			</nav>
		div(class="main-screen main-screen-content")
			.developers-block 
				span Девелопери <br> проекту:
				a(href="https://citex.com.ua" target="_blank")
					img(class="developer-logo" src="./assets/images/developers/citex-logo.svg", alt="")
				a(href="https://perfect-group.com.ua" target="_blank")
					img(class="developer-logo" src="./assets/images/developers/perfect-logo.svg", alt="")
			.main-screen__subtitle Житловий комплекс POLARIS
			h1.main-screen__title  Зірковий рівень життя
			.read-more-block 
				img(class="read-more-block__icon" src="./assets/images/common/read-more-icon.svg", alt="read-more")
				span.read-more-block__text ДІЗНАТИСЬ БІЛЬШЕ
			.time-block
				div(class="time-block__item time-block__day") 
					span день
				div(class="time-block__item time-block__evening") 
					span вечір
				div(class="time-block__item time-block__night") 
					span ніч
	section(class="about-project-container container")
		.mini-title про проект
		.about-project__counter 
			span.current 01
			span.max 05
		.about-project-text
			.about-project-text__title  Зіркове життя майбутнього
			.about-project-text__text 	POLARIS стане яскравою зіркою та практичним житловим рішенням у затишній частині столичної Оболоні. Комплекс відкриє власникам квартир новий рівень сучасних можливостей за принципом – «живи-працюй-релаксуй».
		.navigation-box 
			div(class="navigation-box__item  next")
				img(src="./assets/images/common/birdy-black.svg")
			div(class="navigation-box__item previous") 
				img(src="./assets/images/common/birdy-black.svg")
		.about-project-image
			img(src="./assets/images/about/image1.png")
		.about-project-more 
			span.about-project-more__question Хочете дізнатись більше?
			span.about-project-more__subtext замовити дзвінок
		.about-project-second-text 
			.about-project-second-text__title Дружня та відкрита філософія POLARIS –
			.about-project-second-text__text  це новий клас житла, що підходить для усіх сучасних людей та здатен задовольнити максимум інтересів. 
		.about-project-slides
			div(class="slide" data-img="image1.png" data-title="Зіркове життя майбутнього" data-text="POLARIS стане яскравою зіркою та практичним житловим рішенням у затишній частині столичної Оболоні. Комплекс відкриє власникам квартир новий рівень сучасних можливостей за принципом – «живи-працюй-релаксуй»." data-secondTitle="Дружня та відкрита філософія POLARIS – " data-secondText="це новий клас житла, що підходить для усіх сучасних людей та здатен задовольнити максимум інтересів. ")
			div(class="slide" data-img="image2.png" data-title="Багатофункціональний та зірковий" data-text="Завдяки POLARIS в цьому мікрорайоні вперше буде доступна мультифункціональність, що набирає все більшої популярності у європейських житлово-комерційних рішеннях." data-secondTitle="Орієнтуємось на потреби прогресивних киян" data-secondText="POLARIS робить доступними якісні європейські рішення, що сподобаються і молодій парі, яка планує свою першу дитину, і великій родині з дітьми і тим, хто проживає сам. ")
			div(class="slide" data-img="image3.png" data-title="Щаслива зірка для кожного" data-text="Саме тому нова концепція цього житлового комплексу представляє мультифункціональну будівлю у класі «комфорт +»." data-secondTitle="Власний ТЦ та садочок" data-secondText="Окрім квартир за доступною ціною м2 повноцінними складовими стане власний ТРЦ, дитячий садочок, спортивний клуб на перших поверхах.")
			div(class="slide" data-img="image3.png" data-title="Трендовий підхід до житлового та публічного простору" data-text="Фрілансерам та спеціалістам, що не їздять в офіс щодня цей формат надасть можливість зручно працювати прямо з дому. Оптимальний перелік сервісів для дітей та дорослих дозволить всім членам сім'ї витрачати дорогоцінний час на дійсно важливі та цікаві речі." data-secondTitle="Комфортно буде кожному!" data-secondText="POLARIS - новий рівень зручностей розроблений для того, щоб мешканці могли відчути максимальну свободу та отримати можливості для особистої реалізації.")
			div(class="slide" data-img="image3.png" data-title="Зірка POLARIS – Ваш надійний орієнтир в житловому питанні" data-text="Це житловий комплекс нового покоління, він відкритий для широкої аудиторії, бо тут справді легко поєднувати різні стилі і способи життя." data-secondTitle="Квартира саме для Вас" data-secondText="Просто зверніться до відділу продажів і дізнайтеся, які квартири формату POLARIS підходять саме вам.")
	section(class="advantages container")
		.mini-title Переваги
		.advantages-wrapper1
			.advantages__single-block 
				.section-title Вперше на столичній Оболоні
				.advantages__single-block__number
					span.advantages__single-block__number_yellow 01
					span.advantages__single-block__number_gray / 04
				.advantages__single-block__title Новобудова, що дарує зоряне відчуття польоту над усією планетою!
				.advantages__single-block__text 
					ul.advantages__single-block__list
						li 5 хв до метро
						li Гарні панорами з вікон
						li Багатофункціональна інфраструктура
						li Дитячий садочок
						li Спортивний клуб
						li Двір без автомобілів
						li Кращі умови для дозвілля
			img(class="advantage-img" src="./assets/images/advantages/adv-img1.png")
		.advantages-wrapper2
			.advantages__single-block 
				.advantages__single-block__number
					span.advantages__single-block__number_yellow 02
					span.advantages__single-block__number_gray / 04
				.advantages__single-block__title Двір <br> без автомобілів
				.advantages__single-block__text Закритий упорядкований периметр створить унікальні можливості для відпочинку мешканців всіх вікових категорій. Тут будуть не лише цікаві і безпечні дитячі та спортивні майданчики, але й багато зелені, зручні лавки, лаунж, місця для відпочинку. 
			.advantages__single-block 
				.advantages__single-block__number
					span.advantages__single-block__number_yellow 03
					span.advantages__single-block__number_gray / 04
				.advantages__single-block__title Простір, де кожен має стати щастливим
				.advantages__single-block__text POLARIS створений з турботою про кожного. Нова команда проекту комплексно врахувала всі аспекті життя сучасного городянина, від самореалізації до безпеки й комфорту. 
			.advantages__single-block 
				.advantages__single-block__number
					span.advantages__single-block__number_yellow 04
					span.advantages__single-block__number_gray / 04
				.advantages__single-block__title Модних шопінг у власному домі 
				.advantages__single-block__text На перших поверхах житлового комплексу відкриється власний торговий центр. А також продуктовий супермаркет зі свіжими продуктами, що дозволить робити покупки, не виходячи за територію.
	section.location-layout
		div(class="location container")
			div(class="mini-title mini-title_white") Місцерозташування
			div(class="section-title_white section-title") Краще місце для майбутнього
			.location-description__block
				.location-description__head Разом з POLARIS відкривається можливість жити в одному з найбільш перспективних та привабливих куточків Оболонського району столиці (мікрорайон Мінського масиву). 
				.location-description__subhead POLARIS має оптимальне місцерозташування – все знаходиться поруч і водночас саме в цій частині Оболоні немає перенаселення і ефекту «мурашника».
				.location-description__subhead Це чиста та простора локація, де у забудовника є свобода створити саме те, чого бажають власники квартир. Є унікальна можливість придбати житло з панорамним краєвидом на озеро і парк. 
			<svg class="location-star-map" width="100%" height="100%" version="1.1" viewBox="0 0 473.49 292.87" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g transform="translate(352.41 18.024)">
				<g fill="none" stroke="#426478">
					<path d="m-37.741 32.187 71.249-23.057" stroke-width=".26458px"/>
					<path d="m-50.258 42.457-33.542 40.358" stroke-width=".26458px"/>
					<path d="m-95.628 93.444-60.325 44.146" stroke-width=".29783px"/>
					<path d="m-170.66 146.69-133.63 26.059" stroke-width=".26458px"/>
					<path d="m-310.16 181.85 35.585 56.714" stroke-width=".30534px"/>
					<path d="m-161.71 213.56-99.91 28.474" stroke-width=".30783px"/>
					<path d="m-163.27 150.21 4.5956 49.741" stroke-width=".10873px"/>
				</g>
				<text class="number"  x="49.731" y="5.3087" >5</text>
				<text class="text"  x="68.731" y="5.3087" >Хвилин</text>
				<text class="text"  x="68.731" y="-5.3087" >до метро</text>
				<image class="shine" x="29.731" y="-5.3087" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-56.33" y="23.556" >10</text> 
				<text class="text" x="-22.33" y="13.556" >хвилин на авто </text> 
				<text class="text" x="-22.33" y="23.556" >до Пущі Водиці</text> 
				<image class="shine" x="-56.33" y="23.556" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-100.7" y="75.941" >7</text>
				<text class="text" x="-80.7" y="65.941" >хвилин до  </text>
				<text class="text" x="-80.7" y="75.941" >виїзду з міста</text>
				<image class="shine" x="-100.7" y="75.941" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-175" y="124.93" >12</text>
				<text class="text" x="-142" y="114.93" >хвилин до </text>
				<text class="text" x="-142" y="124.93" >Вишгородської набережної</text>
				<image class="shine" x="-175" y="129.93" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-323.6" y="-323.6" >666</text>
				<image class="shine" x="-323.6" y="-323.6" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-156.98" y="197.28" >7</text>
				<text class="text" x="-141.98" y="192.28" >хвилин до ринку </text>
				<text class="text" x="-141.98" y="202.28" >та автостанції «Полісся» </text>
				<image class="shine" x="-166.98" y="197.28" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-270.3" y="247.56" >3</text>
				<text class="text" x="-250.3" y="232.56">хвилин до будівельних  </text>
				<text class="text" x="-250.3" y="242.56"> гіпермаркетів «Епіцентр» та </text>
				<text class="text" x="-250.3" y="252.56">«Leroy Merlin« на Полярній</text>
				<image class="shine" x="-280.3" y="232.56" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<image class="shine" x="-320.731" y="165.56" width="23.636" height="23.636" preserveAspectRatio="none" xlink:href="./assets/images/location/loc-schema/star1.svg"/>
				<text class="number" x="-300.731" y="195.56" >3</text>
				<text class="text" x="-280.731" y="180.56" >хвилин до ТРЦ «Караван», </text>
				<text class="text" x="-280.731" y="190.56" >гіпермаркету «Ашан»</text>
				</g>
			</svg>
			.location-bottom-block 
				.location-bottom-block__title Зручно під'їхати в ТРЦ Dream Town
				.location-bottom-block__description
					p Житловий комплекс знаходиться поруч з великою транспортною розв'язкою, зупинкою громадського транспорту та в 5 хвилинах на авто чи маршрутці до станцій метро Оболонь, Мінська, Героїв Сталінграда.
					p В кількох кварталах від будинку проходять різні маршрути громадського транспорту, що дозволяють без проблем дістатися будь-якої точки Києва. За додатковим розвагами і шопінгом звідси зручно під'їхати в ТРЦ Dream Town.
	section(class="plans container")
		.mini-title Варіанти планувань
		.plans-slider
			.slider-js
				.slide 
					.about-project__counter 
						span.current 01
						span.max 05
					.text 
						ul
							li.flat-type Квартири 2А
							li.square Загальна площа: 
								span.bold 38.4 m2
							li.square Житлова площа: 
								span.bold 38.4 m2
							li.room-type Передпокій: 
								span.bold 38.4 m2
							li.room-type Кухня: 
								span.bold 38.4 m2
							li.room-type Вітальня: 
								span.bold 38.4 m2
							li.room-type Лоджія: 
								span.bold 38.4 m2
					img(src="./assets/images/plans/flat.png")
				.slide 
					.about-project__counter 
						span.current 02
						span.max 05
					.text 
						ul
							li.flat-type Квартири 2А
							li.square Загальна площа
							li.square Житлова площа
							li.room-type Передпокій
							li.room-type Кухня
							li.room-type Вітальня
							li.room-type Лоджія
					img(src="./assets/images/plans/flat.png")
				.slide 
					.about-project__counter 
						span.current 03
						span.max 05
					.text 
						ul
							li.flat-type Квартири 2А
							li.square Загальна площа
							li.square Житлова площа
							li.room-type Передпокій
							li.room-type Кухня
							li.room-type Вітальня
							li.room-type Лоджія
					img(src="./assets/images/plans/flat.png")
				.slide 
					.about-project__counter 
						span.current 04
						span.max 05
					.text 
						ul
							li.flat-type Квартири 2А
							li.square Загальна площа
							li.square Житлова площа
							li.room-type Передпокій
							li.room-type Кухня
							li.room-type Вітальня
							li.room-type Лоджія
					img(src="./assets/images/plans/flat.png")
				.slide 
					.about-project__counter 
						span.current 05
						span.max 05
					.text 
						ul
							li.flat-type Квартири 2А
							li.square Загальна площа
							li.square Житлова площа
							li.room-type Передпокій
							li.room-type Кухня
							li.room-type Вітальня
							li.room-type Лоджія
					img(src="./assets/images/plans/flat.png")
			.navigation-box 
				div(class="navigation-box__item  previous")
					img(src="./assets/images/common/birdy-black.svg")
				div(class="navigation-box__item next") 
					img(src="./assets/images/common/birdy-black.svg")
			//- .plans-dots 
			//- 	button(type="button", value="" class="single-dot")
			//- 	button(type="button", value="" class="single-dot")
			//- 	button(type="button", value="" class="single-dot")
			//- 	button(type="button", value="" class="single-dot")
			//- 	button(type="button", value="" class="single-dot")
	section(class="infrastructure container")
		.mini-title Інфраструктура
		//- BLOCK 1
		div(class="infra-block infra-block__first") 
			.block-img1
				.block-title Children
				img(class="thumbnail" src="./assets/images/infrastructure/kids1.png")
				img(class="block-img-decor decor1 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
				img(class="block-img-decor decor2 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
				img(class="block-img-decor decor3 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
			.block-text
				.block-text__title Дитячий 
					span.yellow садочок 
					span на території				
				.block-text__subtitle Маленькі зірочки – в центрі великої уваги. 
				.block-text__text
					p Мрії батьків збуваються у POLARIS. Прямо в житловому комплексі відкриється дитячий садок. Тут кожен мешканець зможе довірити свою дитину під нагляд турботливих вихователів.
					p POLARIS зможе пишатися різноманіттям інфраструктури для маленьких мешканців, окрім садочку тут заплановано цілу низку ігрових та навчальних напрямів: школа раннього розвитку, ігрова кімната, місце для проведення дитячих свят.
			img(class="block-img2" src="./assets/images/infrastructure/kids2.png")
		//- BLOCK 2
		div(class="infra-block infra-block__second")
			.block-text
				.block-text__title Лобі із власним 
					span.yellow торговим центром			
				.block-text__subtitle Щоб дістатися будь-якого з сервісів або магазинів, достатньо буде лише натиснути кнопку ліфту  
				.block-text__text
					p Оцініть новий рівень можливостей: запашну каву щоранку в кав'ярні на першому поверсі, зручний шопінг, регулярні заняття спортом, сучасний дитячий садочок, затишну зелену оазу парку у дворі – і все це за крок від дому. 
					p Тут все буде вчасно. Вся необхідна інфраструктура розміститься на перших поверхах. Тож власники квартир не витрачатимуть дорогоцінний час на зайву дорогу або затори.
				.read-more-block 
					img(class="read-more-block__icon" src="./assets/images/common/read-more-icon.svg", alt="read-more")
					span(class="read-more-block__text read-more-block__text_dark") ДІЗНАТИСЬ БІЛЬШЕ
			.block-img1
				.block-title shoping
				img(class="thumbnail" src="./assets/images/infrastructure/shop1.png")
		img(class="single-img" src="./assets/images/infrastructure/shop2.png")
		//- BLOCK 3
		div(class="infra-block infra-block__third")
			.block-text
				.block-text__title
					span.yellow Вхідна група 	
					span рівня п’ятизіркового готелю
				.block-text__subtitle Щодня  мешканців зустрічатиме та надихатиме особлива атмосфера, яку забезпечить досконалий дизайн, світло і кращі матеріали.  
				.block-text__text
					p Ставлення до місць загального користування - це показник рівня будинку. Позиціонування комплексу обумовило високі вимоги до внутрішнього простору і дизайну – бути максимально зручними, комфортними, приємними і стильними водночас. Тож творці комплексу небанально підійшли до рішення в холі.
					p Вхідна група ЖК POLARIS починається з чудово продуманого і обладнаного лобі. Мешканці будинку матимуть краще місце для зустрічі та для робочого конференц-колла. Просторі холи відрізнятимуться оригінальним оформленням і включатимуть в себе ресепшен, зону для очікувань, зручні красиві ліфти. 
			.block-img1
				.block-title entry
				img(class="thumbnail" src="./assets/images/infrastructure/entrance.png")
				img(class="mini-img " src="./assets/images/infrastructure/photo1.png")
		//- BLOCK 4
		div(class="infra-block infra-block__fourth")
			.block-img1
				.block-title sports
				img(class="thumbnail"  data-tilt src="./assets/images/infrastructure/sport.png")
				img(class="block-img-decor decor1 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
				img(class="block-img-decor decor2 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
				img(class="block-img-decor decor3 read-more-block__icon" src="./assets/images/common/yellow-star.svg" alt="read-more")
			.block-text
				.block-text__title Свій
					span.yellow  спортклуб 
					span у будинку
				.block-text__subtitle Спорт для всіх бажаючих - у крокової доступності.  
				.block-text__text
					p На перших поверхах житлового комплексу POLARIS відкриється власний спортклуб. Власники квартир зможуть нарешті знайти у щільному графіку вікно для регулярних занять спортом,  отримувати задоволення від тренувань без зайвого клопоту, обрати для цього зручний час, приходити в зал за будь-якої погоди і ніколи не запізнюватися.
		//- BLOCK 5
		div(class="infra-block infra-block__fifth")
			.block-text
				.block-text__title
					span.yellow Парк і лаунж 
					span у закритому дворі
				.block-text__subtitle Власний парк POLARIS – це неймовірно затишна зелена приватна територія тільки для жителів комплексу.  
				.block-text__text
					p Тут все підкорено комфорту: зручні місця для спокійного дозвілля, ігрові майданчики для дітей, спортивні майданчики з вуличними тренажерами, open-air зони для роботи з ноутбуком, медитації, відпочинку.
					p Це те місце, де діти обовязково знайдуть альтернативу гаджетам і зможуть відпочити від цифрового та віртуального світу. Дійсно цікаві інноваційні локації обовязково сподобаються маленьким мешканцям. Особливу увагу буде приділено безпеці на території.  
				.read-more-block 
					img(class="read-more-block__icon" src="./assets/images/common/read-more-icon.svg", alt="read-more")
					span(class="read-more-block__text read-more-block__text_dark") ДІЗНАТИСЬ БІЛЬШЕ
			.block-img1
				.block-title lounge
				img(class="thumbnail" src="./assets/images/infrastructure/park1.png")
				img(class="mini-img" src="./assets/images/infrastructure/park2.png")
	section(class="contacts container")
		.mini-title Контакти
		.contact-text-block
			.contact-text-block__title Виникли питання — напишіть нам
			.contact-text-block__description
				p Разом з POLARIS відкривається можливість жити в одному з найбільш перспективних та привабливих куточків Оболонського району столиці (мікрорайон Мінського масиву). 
				p POLARIS має оптимальне місцерозташування – все знаходиться поруч і водночас саме в цій частині Оболоні немає перенаселення і ефекту «мурашника». Це чиста та простора локація, де у забудовника є свобода створити саме те, чого бажають власники квартир.
		form.contact-form#main-form
			.close 
				img(src="./assets/images/contacts/close-icon.svg")
			label.title  Зворотній зв’язок
			div.input-wrapper
				
				input(type="text", placeholder="Ім’я:*" name="name")
				.line
				span.popup-help Ім’я:*
			div.input-wrapper
				
				input(type="text", placeholder="E-mail:*" name="email")
				.line
				span.popup-help E-mail:*
			div.input-wrapper
				
				textarea(type="text" class="message", placeholder="Повідомлення:" name="message")
				.line
				span.popup-help Повідомлення:
			button(type="button" class="read-more-block  send-form")
				img(class="read-more-block__icon" src="./assets/images/common/read-more-icon.svg", alt="read-more")
				span(class="read-more-block__text read-more-block__text_dark ") Відправити
		.address 
			.address-title Відділ продажу
			ul.address-list
				li(class="list-item marker") м. Київ, вул. Вулиця, 63/65
				li(class="list-item telephone") 
					a(href="tel:0487528922") (048) 752 89 22
				li(class="list-item mail") 
					a(href="mailto:info@polaris.com.ua") info@polaris.com.ua
				li(class="list-item scheldule") пн - пт, 10.00 - 20.00 
				li(class="list-item") сб - нд, 10.00 - 18.00
		.complex-address
			.complex-address__location
				.title Розташування ЖК POLARIS
				.description м. Київ, вул. Вулиця, 45
			.complex-address__tel
				.title Телефон
				.description 
					a(href="tel:0445856525") 044 585 65 25
			.complex-address__email
				.title E-mail
				.description 
					a(href="mailto:info@polaris.com.ua") info@polaris.com.ua
	.map#map
		//- img(src="./assets/images/contacts/map.png")
	div(class="map-popup" style="display:none")
		img(src="./assets/images/logo1.svg")
		img(class="close" src="./assets/images/contacts/close-icon.svg")
		.map-popup__text Адреса: м. Київ, вул. Вулиця, 45

block footer
	footer.footer
		script.
			function func() {
			var script = document.createElement('script');
			script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqnmzNAzHojSwaOiHXbpTETnKMQgnsos&callback=initMap';
			document.getElementsByTagName('head')[0].appendChild(script);
			}
			setTimeout(func, 4000);
		include ../includes/footer.pug
		include ../includes/mob-menu.pug
		include ../includes/form-telephone.pug
block header
	header.header
		include ../includes/header.pug

