$default-font: "Open Sans";
$default-font2: "Merriweather",
sans-serif;

/*, sans-serif*/

;
$mc: #072146;
$mc2: #2EE3F8;
$mc3: #8CAAB9;
$mc4: #10319A;
$mc5:#F7D323;
$mc6:#3B4456;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;