.footer {
    display: block;
    // height: 65px;
    // line-height: 65px;
    background: url(../images/footer-bg.png) center no-repeat;
    background-size: cover;
    border-top: 1px solid #E4E7F0;
    color: $mc3;
    font-size: 10px;
    letter-spacing: 0.1em;
    .footer-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .menu-list {
            padding: 50px 0;
        }
    }
    .footer__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-size: 10px;
        img {
            margin-right: 10px;
            margin-left: 25px;
            width: 70px;
        }
    }
    @include to(768px) {
        .footer-block .menu-list {
            font-size: 10px;
            padding: 30px 0;
        }
    }
}

.footer-menu {
    width: 100%;
    .menu-list__item {
        display: flex;
        align-items: center;
    }
}

.viber {
    width: 20px;
    height: 20px;
}

.telegram {
    width: 20px;
    height: 20px;
}

.footer__copy {
    background: rgba(7, 33, 70, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    @include to(768px) {
        padding: 20px 22px;
    }
}

.footer-note {
    margin-top: 10px;
    width: 40%;
    @include to(1200px) {
        width: 40%;
    }
    @include to(1024px) {
        width: 50%;
    }
    @include to(768px) {
        width: 95%;
    }
}