.logo {
    min-width: 115px;
    @include to(768px) {
        margin-right: auto;
    }
    @include to(475px) {
        min-width: initial;
        width: 78px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
}

.menu-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $mc;
    font-family: $default-font;
    letter-spacing: 0.1em;
    width: 100vw;
    color: #ffffff;
    z-index: 10000;
    @include from(1200px) {
        justify-content: space-around;
        padding: 0 20px;
    }
    @include to(768px) {
        justify-content: flex-end;
        padding: 0 22px;
    }
    @include to(768px) {
        justify-content: space-between;
        padding: 0 10px 0 0;
    }
}

.lang-tel-list {
    display: flex;
    align-items: center;
}

.menu-button {
    @include from(769px) {
        display: none;
    }
    @include to(475px) {
        margin-left: 10px;
    }
    & img {
        width: 28px;
        height: 16px;
    }
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 12px;
    &__item {
        margin: 0 10px;
        cursor: pointer;
        &:hover {
            border-bottom: 1px dashed $mc5;
        }
    }
    & a {
        text-decoration: none;
        color: #fff;
    }
    @include to(768px) {
        display: none;
    }
}

.tel-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22px;
    padding-right: 20px;
    // border-right: 1px solid rgba(154, 180, 193, .3);
    text-align: center;
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        // right: 0;
        background: rgba(154, 180, 193, 0.3);
        width: 1px;
        right: 0px;
        height: 60%;
    }
    &:before {
        position: absolute;
        top: calc((24px - 16px) / 2);
        left: 5px;
        height: 13px;
        width: 13px;
        content: url(../images/common/tel-icon.svg);
    }
    &__number {
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-decoration: none;
        font-family: $default-font2;
    }
    &__title {
        text-transform: lowercase;
        border-bottom: 1px dashed rgba(154, 180, 193, .3);
        color: $mc3;
        &:hover {
            border-bottom-style: solid;
            transition: .1s;
        }
    }
    @include to(475px) {
        padding-right: 8px;
        border-right: none;
        &__number {
            font-size: 14px;
            line-height: 14px;
        }
        &__title {
            font-size: 10px;
            line-height: 20px;
        }
    }
}

.lang-block {
    position: relative;
    margin-left: 20px;
    padding-right: 12px;
    cursor: pointer;
    transition: all .5s;
    &:after {
        content: url(../images/common/birdy.svg);
        position: absolute;
        right: 0;
        top: calc(50% - 9px);
    }
    &:hover:after {
        transition: all .5s;
        transform: rotate(180deg);
    }
    &:hover .inactive {
        transition: all .5s;
        display: block;
    }
    &:hover &__item {
        text-transform: uppercase;
    }
    .inactive {
        display: none;
    }
    @include to(475px) {
        margin-left: 6px;
        font-size: 10px;
    }
    @include from(475px) {
        margin-right: 10px;
    }
    &__item:hover {
        transition: .2s;
        color: $mc5;
    }
}