.menu-container {
    position: fixed;
    width: 100vw;
    height: calc(100vw / 768 * 600);
    top: 100px;
    left: 0;
    background: url(../images/common/mob-menu-bg.png) center no-repeat;
    background-size: cover;
    z-index: 100;
    display: none;
    .close {
        width: 29px;
        height: 29px;
        background: url(../images/common/mob-close.svg);
    }
    a {
        text-decoration: none;
        color: $mc3;
    }
    transform-origin: top right;
    @include to(475px) {
        top: 74px;
        height: 100vh;
        background: url(../images/location/loc-bg.png) center no-repeat;
    }
}

.menu-title {
    font-size: 60px;
    line-height: 80px;
    color: #fff;
    font-family: $default-font2;
    @include to(475px) {
        font-size: 20px;
    }
}

.mob-menu-list {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    li {
        margin-top: 34px;
    }
    @include to(475px) {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }
}

.mob-menu-content {
    position: absolute;
    left: 45vw;
    margin-top: 75px;
    @include to(475px) {
        position: initial;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mob-menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: $mc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include to(475px) {
        display: none;
    }
}

.mob-address:before {
    content: url(../images/common/marker-mob.svg);
    margin-right: 10px;
}

.mob-tel:before {
    content: url(../images/common/tel.svg);
    margin-right: 10px;
}

.mob-mail:before {
    content: url(../images/common/letter.svg);
    margin-right: 10px;
}

@keyframes menuOpen {
    from {
        -webkit-transform: translateY(-110%);
        transform: translateY(-110%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes menuClose {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-110%);
        transform: translateY(-110%);
        opacity: 0
    }
}

.menuOpen {
    animation: menuOpen .5s 1 linear;
}

.menuClose {
    animation: menuClose .5s 1 linear;
}

.opened {
    display: block;
}